# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file.
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame.
city_data_df = pd.read_csv(file_path)

# Display sample data.
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dusi,IN,12.7667,79.6833,81.23,77,41,0.83,scattered clouds
1,1,Puerto Colombia,CO,10.9878,-74.9547,81.97,82,56,13.82,broken clouds
2,2,Ribeira Grande,PT,38.5167,-28.7000,61.77,83,98,8.99,overcast clouds
3,3,Westport,US,41.1415,-73.3579,61.92,77,10,5.99,clear sky
4,4,Ushuaia,AR,-54.8000,-68.3000,32.32,83,0,7.18,clear sky
5,5,Kharp,RU,66.8014,65.8081,36.86,89,100,1.59,overcast clouds
6,6,Busselton,AU,-33.6500,115.3333,59.18,54,60,11.63,broken clouds
7,7,Port Alfred,ZA,-33.5906,26.8910,63.18,96,100,5.01,light rain
8,8,Cape Town,ZA,-33.9258,18.4232,62.91,85,0,4.61,clear sky
9,9,Bredasdorp,ZA,-34.5322,20.0403,57.24,97,99,7.20,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria.
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data.
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Belmonte,BR,-15.8631,-38.8828,72.95,84,44,9.73,scattered clouds
18,18,Maiduguri,NG,11.8464,13.1603,75.00,22,87,4.90,overcast clouds
19,19,Souillac,MU,-20.5167,57.5167,71.98,73,40,8.05,scattered clouds
27,27,Nagua,DO,19.3832,-69.8474,77.00,87,13,4.81,few clouds
29,29,Gweta,BW,-20.1833,25.2333,72.27,39,98,13.33,overcast clouds
34,34,Padang,ID,-0.9492,100.3543,78.85,90,100,4.27,overcast clouds
36,36,Vila Velha,BR,-20.3297,-40.2925,70.95,88,33,1.99,scattered clouds
40,40,Mitsamiouli,KM,-11.3847,43.2844,74.89,78,1,10.60,clear sky
43,43,Bambous Virieux,MU,-20.3428,57.7575,71.85,73,40,8.05,scattered clouds
45,45,Kidal,ML,18.4411,1.4078,79.77,11,0,10.22,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data.
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Belmonte,BR,-15.8631,-38.8828,72.95,84,44,9.73,scattered clouds
18,18,Maiduguri,NG,11.8464,13.1603,75.00,22,87,4.90,overcast clouds
19,19,Souillac,MU,-20.5167,57.5167,71.98,73,40,8.05,scattered clouds
27,27,Nagua,DO,19.3832,-69.8474,77.00,87,13,4.81,few clouds
29,29,Gweta,BW,-20.1833,25.2333,72.27,39,98,13.33,overcast clouds
34,34,Padang,ID,-0.9492,100.3543,78.85,90,100,4.27,overcast clouds
36,36,Vila Velha,BR,-20.3297,-40.2925,70.95,88,33,1.99,scattered clouds
40,40,Mitsamiouli,KM,-11.3847,43.2844,74.89,78,1,10.60,clear sky
43,43,Bambous Virieux,MU,-20.3428,57.7575,71.85,73,40,8.05,scattered clouds
45,45,Kidal,ML,18.4411,1.4078,79.77,11,0,10.22,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data.
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
13         Belmonte      BR     72.95    scattered clouds -15.8631  -38.8828
18        Maiduguri      NG     75.00     overcast clouds  11.8464   13.1603
19         Souillac      MU     71.98    scattered clouds -20.5167   57.5167
27            Nagua      DO     77.00          few clouds  19.3832  -69.8474
29            Gweta      BW     72.27     overcast clouds -20.1833   25.2333
34           Padang      ID     78.85     overcast clouds  -0.9492  100.3543
36       Vila Velha      BR     70.95    scattered clouds -20.3297  -40.2925
40      Mitsamiouli      KM     74.89           clear sky -11.3847   43.2844
43  Bambous Virieux      MU     71.85    scattered clouds -20.3428   57.7575
45            Kidal      ML     79.77           clear sky  18.4411    1.4078

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame.
hotel_df["Hotel Name"] = ""

# Display sample data.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Belmonte,BR,72.95,scattered clouds,-15.8631,-38.8828,
18,Maiduguri,NG,75.00,overcast clouds,11.8464,13.1603,
19,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,
27,Nagua,DO,77.00,few clouds,19.3832,-69.8474,
29,Gweta,BW,72.27,overcast clouds,-20.1833,25.2333,
34,Padang,ID,78.85,overcast clouds,-0.9492,100.3543,
36,Vila Velha,BR,70.95,scattered clouds,-20.3297,-40.2925,
40,Mitsamiouli,KM,74.89,clear sky,-11.3847,43.2844,
43,Bambous Virieux,MU,71.85,scattered clouds,-20.3428,57.7575,
45,Kidal,ML,79.77,clear sky,18.4411,1.4078,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search.
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data.
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Belmonte,BR,72.95,scattered clouds,-15.8631,-38.8828,Pousada Monte Carmelo O P찾o
18,Maiduguri,NG,75.00,overcast clouds,11.8464,13.1603,Kagel Mari Police Station
19,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
27,Nagua,DO,77.00,few clouds,19.3832,-69.8474,Hotel Cambri
29,Gweta,BW,72.27,overcast clouds,-20.1833,25.2333,Gweta Lodge
34,Padang,ID,78.85,overcast clouds,-0.9492,100.3543,Mercure Padang
36,Vila Velha,BR,70.95,scattered clouds,-20.3297,-40.2925,Hotel Vit처ria Palace
40,Mitsamiouli,KM,74.89,clear sky,-11.3847,43.2844,Foyer ADM
43,Bambous Virieux,MU,71.85,scattered clouds,-20.3428,57.7575,Casa Tia Villa
45,Kidal,ML,79.77,clear sky,18.4411,1.4078,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index)

# Display sample data.
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Belmonte,BR,72.95,scattered clouds,-15.8631,-38.8828,Pousada Monte Carmelo O P찾o
18,Maiduguri,NG,75.00,overcast clouds,11.8464,13.1603,Kagel Mari Police Station
19,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
27,Nagua,DO,77.00,few clouds,19.3832,-69.8474,Hotel Cambri
29,Gweta,BW,72.27,overcast clouds,-20.1833,25.2333,Gweta Lodge
34,Padang,ID,78.85,overcast clouds,-0.9492,100.3543,Mercure Padang
36,Vila Velha,BR,70.95,scattered clouds,-20.3297,-40.2925,Hotel Vit처ria Palace
40,Mitsamiouli,KM,74.89,clear sky,-11.3847,43.2844,Foyer ADM
43,Bambous Virieux,MU,71.85,scattered clouds,-20.3428,57.7575,Casa Tia Villa
47,Guaxupe,BR,70.56,overcast clouds,-21.3053,-46.7128,Class Hotel Guaxup챕

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided.
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame.
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame,
# add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data.
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Monte Carmelo O P찾o</dd>\n<dt>City</dt><dd>Belmonte</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 72.95 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kagel Mari Police Station</dd>\n<dt>City</dt><dd>Maiduguri</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.0 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.98 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Cambri</dd>\n<dt>City</dt><dd>Nagua</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.0 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gweta Lodge</dd>\n<dt>City</dt><dd>Gweta</dd>\n<dt>Country</dt><dd>BW</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 72.27 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.85 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vit처ria Palace</dd>\n<dt>City</dt><dd>Vila Velha</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 70.95 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Foyer ADM</dd>\n<dt>City</dt><dd>Mitsamiouli</dd>\n<dt>Country</dt><dd>KM</dd>\n<dt>Current Weather</dt><dd>clear sky and 74.89 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.85 째F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Class Hotel Guaxup챕</dd>\n<dt>City</dt><dd>Guaxupe</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.56 째F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data.
locations.head(10)

        Lat       Lng
13 -15.8631  -38.8828
18  11.8464   13.1603
19 -20.5167   57.5167
27  19.3832  -69.8474
29 -20.1833   25.2333
34  -0.9492  100.3543
36 -20.3297  -40.2925
40 -11.3847   43.2844
43 -20.3428   57.7575
47 -21.3053  -46.7128

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Create a figure to add the Google map as a layer.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map.
fig

Figure(layout=FigureLayout(height='420px'))